<h1>Editing fotocopium</h1>

<%= render 'form' %>

<table class="buttom_opt">
  <tr>
    <td class="user_opt"><%= link_to 'Mostrar', @fotocopium %></td>
    <td class="user_opt"><%= link_to 'Voltar', controller:"servico", action:"index" %></td>
  </tr>
</table>