<h1>Bem vindo ao CopyIF</h1>
<h3>Realize suas solicitações de forma rápida e prática</h3>
<ul>
	<li><%= link_to 'Professores', controller:"usuarios", action:"index", id:"professor" %></li>
	<li><%= link_to 'Diretores', controller:"usuarios", action:"index", id:"diretor" %></li>
</ul>