// Place all the styles related to the Usuarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.usuarios {
	h1{
		color: black;
		padding-bottom: 0.7em;
		border-top: 1px solid black;
		border-bottom: 2px solid black;
		box-shadow: 2px 2px 5px gray;
	}
	table {
		border-collapse: collapse;
		margin-top: 30px;
	}
	table tr td {
		padding: 5px;
		vertical-align: top;
		height: 30px;
	}
	.user_info {
		font-size: 18px;
		border-right: 1px solid black;
		margin-right: 5px;
		text-align: center;
		padding: 15px;
	}
	.buttom_actions {
		padding-top: 11px;
		text-align: right;
		padding-left: 1em;
		padding-right: 1em;
		border-left: 1px solid black;
		a {
			text-decoration: none;
			width: 60px;
			height: 20px;
			display: block;
			text-align: center;
			float: right;
			padding: 2px;
			background-color: white;
			color: black;
			border: 1px solid black;
			box-shadow: 2px 2px 2px gray;
		}
		a:hover {
			background-color:#D6D6D6;
			color: #6D6D6D;
			display: block;
		}
	}
}
.buttom_opt {
	border-collapse: collapse;
}
.user_opt {
	text-align: center;
	padding-left: 2em;
	a {
		text-decoration: none;
		width: 140px;
		height: 20px;
		display: block;
		text-align: center;
		float: right;
		padding: 3px;
		background-color: white;
		color: black;
		border: 1px solid black;
		font-size: 18px;
		box-shadow: 2px 2px 2px gray;
	}
	a:hover {
		background-color:#D6D6D6;
		color: #6D6D6D;
		display: block;
	}
}
